<div class="jumbotron" style="background-color: white;">
    <div class="ui cards" style="text-align: center;">
        <div class="card">
          <div class="content">
            <div class="header"><h5>Total Cases</h5></div>
            <hr>
            <div class="description">
              <h4>{{ confirmedCases }}</h4>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="header"><h5>Active Cases</h5></div>
            <hr>
            <div class="description">
              <h4>{{ activeCases }}</h4>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="header"><h5>Deaths</h5></div>
            <hr>
            <div class="description">
              <h4>{{ deaths }}</h4>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="header"><h5>Recovered Cases</h5></div>
            <hr>
            <div class="description">
              <h4>{{ recoveredCases }}</h4>
            </div>
          </div>
        </div>
    </div>
</div>